﻿<!DOCTYPE html>

<html>
<head>
    <title>jstadnicki IOC hijack</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>
