﻿@model MultiButton.Controllers.UserDto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
    <p>Name: @Model.Name</p>
    <p>PhoneNumber: @Model.PhoneNumber</p>
    <p>Active: @Model.Active</p>
    <p>Action: @Model.Action</p>
</div>