﻿@using MultiButton.Controllers
@model UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.EditorFor(m => m.PhoneNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Active)
        @Html.EditorFor(m => m.Active)
    </div>

    <input type="submit" name="Action" Value="@FormAction.Next" class="btn btn-primary" />
    <input type="submit" name="Action" Value="@FormAction.Prev" class="btn btn-default" />
}