﻿@model IOCHijack.ViewModels.IndexViewModel


<div class="row">
    <div class="alert">@Model.IOCStatus</div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Register", "Register", "Home", null, new { @class = "btn btn-default btn-block" })
        @Html.ActionLink("Login", "Login", "Home", null, new { @class = "btn btn-default btn-block" })
        @Html.ActionLink("logout", "Logout", "Home", null, new { @class = "btn btn-default btn-block" })
        @Html.ActionLink("New post", "NewBlogPost", "Home", null, new { @class = "btn btn-default btn-block" })
        @Html.ActionLink("new users", "NewUsers", "Home", null, new { @class = "btn btn-default btn-block" })
        @Html.ActionLink("new posts", "NewPosts", "Home", null, new { @class = "btn btn-default btn-block" })
        @Html.ActionLink("Hijack", "Hijack", "Home", null, new { @class = "btn btn-default btn-block" })
        @Html.ActionLink("Restore", "Restore", "Home", null, new { @class = "btn btn-default btn-block" })
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Posts)
    </div>
</div>
