﻿@model IOCHijack.ViewModels.LoginViewModel
<div class="row">
    @using (@Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <button class="btn btn-primary pull-right" role="button">login</button>
    }
</div>