﻿@model IOCHijack.ViewModels.BlogPostViewModel



<div class="row">
    @using (@Html.BeginForm("NewBlogPost", "Home", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Text)
            @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
        </div>
        <button class="btn btn-primary pull-right" role="button">post</button>
    }
</div>