﻿<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <form method="post">
            @Html.ValidationSummary()
            <label>username</label>
            <input type="text" name="username"/><br/>
            <label>password</label>
            <input type="password" name="password"/>
            <input type="submit" value="login"/>
        </form>
    </div>
</body>
</html>