﻿@model IOCHijack.Models.BlogPost

<div class="row">
    @Html.LabelFor(m => m.Created)
    @Html.DisplayFor(m => m.Created)<br />
    @Html.LabelFor(m => m.AuthorId)
    @Html.DisplayFor(m => m.AuthorId)<br />
    @Html.LabelFor(m => m.Text)
    @Html.DisplayFor(m => m.Text)
</div>
<hr />