﻿<!DOCTYPE html>

<html>
<head>
    <title>register</title>
</head>
<body>
<div>
    @Html.ValidationSummary()
    <form method="post">
        <label>username</label>
        <input type="text" name="username"/><br/>
        <label>password</label>
        <input type="password" name="password"/>
        <input type="submit" value="login"/>
    </form>
</div>
</body>
</html>