﻿<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        @Html.ActionLink("Secret", "Index", "Secret")
        @Html.ActionLink("Register", "Index", "Register")
        @Html.ActionLink("Login", "Index", "Login")
        @Html.ActionLink("Logout", "Index", "Logout")
    </div>
</body>
</html>